.main-block-card{
    width: 90%;
}
.category-aside{
    width: 100%;
}

.aside-main{
    width: 30%;
}

.main-blog{
    width: 70%;
}

.w-450 {
	width: 450px;
}
.vh-100 {
	min-height: 100vh;
}
/*admin*/
.section-1{
	width: 100%;
    padding: 15px;
}
.main-table {
	width: 70%;
	
}
.comments .Comment span{
    color: #0088FF;
}

@media only screen and (max-width: 768px) {
    .aside-main{
        display: none;
    }

    .main-blog{
        width: 100%;
    }   
    .main-block-card{   
        width: 100%;
    }
}

.react-btn {
    font-size: 19px;
    color:#222;
    cursor: pointer;
}
.react-btn a{
    text-decoration: none;
    color:#222;
    cursor: pointer;

}

.react-btn a:hover{
    opacity: .8;

}

.react-btn .like:hover{
    color:#0088FF;

}

.react-btn .liked  {
	color: #0088FF;
}
